.list {
  display: flex;
  list-style: none;
}

.item {
  font-size: 2rem;
  margin: 0 1em;
  font-family: "Poppins";
}

a {
  cursor: none;
}

.link {
  text-decoration: none;
  color: #f7f7f7;
}

.cursor {
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  will-change: left, top;
}

.outer {
  width: 40px;
  height: 40px;
  transition: transform 0.15s ease-out;
}

.inner {
  width: 20px;
  height: 20px;
  transition: background 250ms ease-out, transform 0.15s ease-out;
}

.cursor.hover {
  transform: translate(-50%, -50%) scale(1.5);
}

.inner.hover {
  transform: scale(1.5);
}
